// out: ../../css/app.css, compress: true, sourceMap: true
/*------------------------------
IMPORT
--------------------------------*/
@import url("import/reset.less");
@import url("import/fonts.less");
@import url("import/bootstrap-grid.min.less");
@import url("import/bootstrap-spacing.less");
@import url("import/magnific-popup.less");
@import url("import/animate.less");
@import url("import/slick.less");
@import url("import/cookies.less");

/*------------------------------
VARIABLES
--------------------------------*/
/*------------------------------
VARIABLES COULEURS GÉNÉRIQUES
--------------------------------*/
@White: #FFFFFF;
@Black: #000000;
@Error: @Red;
@Validate: @Green;
@Placeholder: ;
@Input: ;
@Overlay: rgba(62,67,66,.7);
@Overlay1: rgba(62,67,66,.85);
@Overlay2: rgba(62,67,66,.95);
@Body: @Beige;
@Red: #CF1415;
@Green: #25CD7D;

/*------------------------------
VARIABLES COULEURS PROJETS
--------------------------------*/


/*------------------------------
VARIABLES FONTS
--------------------------------*/
@BaseSize: 16;
@Light: 300;
@Regular: 400;
@SemiBold: 600;
@Bold: 900;
@Muli: 'Muli', sans-serif;
@FontAwesome: 'FontAwesome';
@Mify: 'themify';
@Jenkins : 'Jenkins v2.0';
/*------------------------------
VARIABLES IMAGES
--------------------------------*/
@logo: url('../img/svg/melodinote-logo-blc.svg') no-repeat center center;
@logo-grey: url('../img/svg/melodinote-logo.svg') no-repeat center center;
@news: @Beige-XL url('../img/png/bg-news.png') no-repeat center top 8px;
@shows: @White url('../img/jpg/bg-shows.jpg') no-repeat center top;
@shows-smartphone: @White url('../img/jpg/bg-shows-smartphone.jpg') no-repeat center top;
@Bg-Tone: url('../img/png/bg-tone.png') repeat top left;
@Bg-footer: url('../img/jpg/bg-footer.jpg') no-repeat center top;
@logo-map: url('../img/svg/melodinote-logo-map.svg') no-repeat center center;
/*------------------------------
VARIABLES CHEMIN
--------------------------------*/
@path: "../img";
/*------------------------------
VARIABLES IMAGES
--------------------------------*/
@logo: url('@{path}/svg/logo-cotefrance-consortium-blanc.svg') no-repeat center center;
@logo-nb: url('@{path}/svg/logo-cotefrance-consortium.svg') no-repeat center center;
/*------------------------------
VARIABLES MARGIN PADDING
--------------------------------*/
@Mdesktop: 3.705%;
@Pdesktop: 3.705%;
/*------------------------------
VARIABLES HEIGHT ET WIDTH
--------------------------------*/
@SlideDesktop: 768;
@WHslickDesktop: 50;
@TransformDesktop: 50px;
@SlidePortable: 664;
@SlideTabletteH: 485;
@SlideTabletteV: 380;
@SlideSmartphone: 330;
@WHslickSmartphone: 50;
@TransformSmartphone: 50px;
@WidthNavD: 300px;
/*------------------------------
VARIABLES BORDERS
--------------------------------*/
@R:20px;
@BorderRadiusLangues-L: @R 0 0 @R;
@BorderRadiusLangues-R: 0 @R @R 0;
/*------------------------------
MIXINS
--------------------------------*/
/*------------------------------
MIXIN MISE EN PAGE
--------------------------------*/
.WidthHeader() {
	width: ~"calc(100% - @{WidthNavD})";
}
.lineHeight(@size) {
	line-height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	line-height: ~"@{remSize}rem";
}
.Height(@size) {
	height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	height: ~"@{remSize}rem";
}
.MaxHeight(@size) {
	max-height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	max-height: ~"@{remSize}rem";
}
.Bottom(@size) {
	bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	bottom: ~"@{remSize}rem";
}
.Top(@size) {
	top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	top: ~"@{remSize}rem";
}
.Right(@size) {
	right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	right: ~"@{remSize}rem";
}
.Left(@size) {
	left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	left: ~"@{remSize}rem";
}
.Margin(@size) {
	margin: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin: ~"@{remSize}rem";
}
.MarginTop(@size) {
	margin-top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-top: ~"@{remSize}rem";
}
.MarginBottom(@size) {
	margin-bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-bottom: ~"@{remSize}rem";
}
.MarginLeft(@size) {
	margin-left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-left: ~"@{remSize}rem";
}
.MarginRight(@size) {
	margin-right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-right: ~"@{remSize}rem";
}
.Padding(@size) {
	padding: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding: ~"@{remSize}rem";
}
.PaddingBottom(@size) {
	padding-bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-bottom: ~"@{remSize}rem";
}
.PaddingLeft(@size) {
	padding-left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-left: ~"@{remSize}rem";
}
.PaddingRight(@size) {
	padding-right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-right: ~"@{remSize}rem";
}
.PaddingTop(@size) {
	padding-top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-top: ~"@{remSize}rem";
}
.Width(@size) {
	width: ~"@{size}px";
	@remSize: @size/@BaseSize;
	width: ~"@{remSize}rem";
}
.absolute(){
	position:absolute;
}
.fixed(){
	position: fixed;
}
.relative(){
	position: relative;
}
.static(){
	position: static;
}
.BorderBottomSmart(){
	&:before{
		.Width(40);
	}
}
.BorderBottomTablette(){
	&:before{
		.Bottom(-30);
	}
}
.BorderBottom(){
	&:before{
		background-color: @Grey;
		.Bottom(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.BorderBottomWhite(){
	&:before{
		background-color: @White;
		.Bottom(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.BorderTop(){
	&:before{
		background-color: @Grey;;
		.Top(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.Bgnews(){
	background: @news;
	.background100();
}
/*------------------------------
MIXIN FOND
--------------------------------*/
.backgroundcover(){
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.background100(){
	background-size: 100%;
}
/*------------------------------
MIXIN ANIMATION
--------------------------------*/
.transition(@prop:all, @duration:0.3s, @ease:ease-in-out) {
	-webkit-transition: @prop @duration @ease;
	-moz-transition: @prop @duration @ease;
	-ms-transition: @prop @duration @ease;
	-o-transition: @prop @duration @ease;
	transition: @prop @duration @ease;
}
.transform(@x:0px, @y:0px){
	-webkit-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}
.transformY(@y:-100px){
	-webkit-transform: translateY(@y);
	-ms-transform: translateY(@y);
	-o-transform: translateY(@y);
	transform: translateY(@y);
}
.transformX(@x:-100px){
	-webkit-transform: translateX(@x);
	-ms-transform: translateX(@x);
	-o-transform: translateX(@x);
	transform: translateX(@x);
}
.transformR(@r:45deg){
	-webkit-transform: rotate(@r);
	-ms-transform: rotate(@r);
	-o-transform: rotate(@r);
	transform: rotate(@r);
}
.transformS(@s:2){
	-webkit-transform: scale(@s);
	-ms-transform: scale(@s);
	-o-transform: scale(@s);
	transform: scale(@s);
}
.transformSx(@sx:2){
	-webkit-transform: scaleX(@sx);
	-ms-transform: scaleX(@sx);
	-o-transform: scaleX(@sx);
	transform: scaleX(@sx);
}
.transformSy(@sy:2){
	-webkit-transform: scaleY(@sy);
	-ms-transform: scaleY(@sy);
	-o-transform: scaleY(@sy);
	transform: scaleY(@sy);
}
/*------------------------------
KEYFRAME ANIMATIONS
--------------------------------*/
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
.scale-up-hor-left(){
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}
.slide-right(){
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*------------------------------
MIXIN BOUTONS
--------------------------------*/
.btn(){
	background-color: ;
	.fontSize(20);
	line-height: 50px;
	.transition();
}
/*------------------------------
MIXIN BORDER
--------------------------------*/
.border-radius(@rad:50%){
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	border-radius: @rad;
}
.border-radius-top-left(@radtopl:5px){
	-webkit-border-top-left-radius: @radtopl;
	-moz-border-top-left-radius: @radtopl;
	border-top-left-radius: @radtopl;
}
.border-radius-top-right(@radtopr:5px){
	-webkit-border-top-right-radius: @radtopr;
	-moz-border-top-right-radius: @radtopr;
	border-top-right-radius: @radtopr;
}
/*------------------------------
MIXIN FORMULAIRES
--------------------------------*/
.placeHolder(){
	color: @Placeholder;
	.fontSize(14);
	text-transform: uppercase;
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}
.Input(){
	background: ;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.transition();
}
.InputHover(){
	border-bottom: 5px solid;
}
.InputSubmit(){
	background-color: @White;
	border: 5px solid;
	color:  ;
	text-align: center;
	height: 50px;
	padding: 10px;
	.lineHeight(20);
	.fontSize(20);
    text-transform: uppercase;
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputFocus(){
	border-color: ;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputSubmitHover(){
    background: @Black;
	border-color: transparent;
	color: @White !important;
}
.InputFocus(){
	.Titillium-lgt();
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputSubmitDisable(){
	background-color: transparent;
	background: none;
	border: none;
	.Titillium-lgt();
	text-align: center;
	.Height(35);
	padding: 0 .625rem;
	.lineHeight(35);
	.fontSize(16);
    text-transform: uppercase;
	width: 100%;
	&:hover{
		.form-submit{
			&:before{
				.transformX(@x:0px);
				opacity: .5;
			}
		}
	}
}
/*------------------------------
GLOBAL
--------------------------------*/
html{
	.FontGenerale();
}
body {
    overflow-x: hidden;
    color: @Black;
    background: @Body;
    .relative();
    text-align: left;
}
/*------------------------------
CLEARFIX
--------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*------------------------------
STRUCTURE
--------------------------------*/
body.admin-bar:not(.custom-background-image)::before{
	top: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after{
	background: none;
}
/*
.site-main{
	.PaddingTop(140);
}
*/
/*------------------------------
ELEMENTS
--------------------------------*/
h1,
h2,
h3,
h4{
	line-height: 1;
}
h1{
	.fontSize(60);
}
h2{
	.fontSize(35);
}
h3{
	.fontSize(20);
}
h4{
	.fontSize(16);
}
p{
	.fontSize(16);
	.lineHeight(20);
	.MarginBottom(16);
}
a{
	color: @Black;
	text-decoration: underline;
	.transition();
	&:hover, &:focus, &:active{
		color: ;
		cursor: pointer;
		outline: none;
	}
}
/*
.address{
	font-style: normal;
	.fontSize(10);
	&:hover{
		color: inherit;
	}
}
*/
ul{
	margin: 0;
}
li{
	list-style: none;
}
strong{
	font-weight: @Bold;
}
blockquote{
	.Muli-SB();
	border: none;
	.Margin(0);
	.fontSize(22);
	.lineHeight(27);
	b{
		.fontSize(28);
		.Muli-SB();
	}
}
.artiste-signature-presse{
	color: @Red;
	.fontSize(16);
	text-transform: uppercase;
}
.button,
button{
	background-color: @Or;
	border: none;
	.border-radius(@rad:5px);
	color: @White;
	.FontGeneric();
	.fontSize(16);
	text-transform: uppercase;
	.MarginTop(10);
	.Padding(10);
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus,
	&:active{
		background-color: @Black;
		color: inherit;
	}
	a{
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: inherit;
		}
	}
}
button.toggle-menu{
	background-color: transparent;
	&:hover,
	&:focus,
	&:active{
			background-color: transparent;
	}
}
/*------------------------------
IMAGES
--------------------------------*/
figure{
	.relative();
	figcaption,
	legend{
		.absolute();
		bottom: 5%;
		.montserrat-i();
		.fontSize(14);
		text-align: center;
		width: 100%;
	}
/*
	img{
		min-height: 100%;
		min-width: 100%;
	}
*/
}
img{
	max-width: 100%;
	height: auto;
}

/*------------------------------
STRUCTURE
--------------------------------*/
.site{
	background: none;
	margin: 0;
}
.overlay{
	background-color: @Overlay;
	height: 100%;
	opacity: 0;
	position: absolute;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.overlay.on{
	opacity: 1;
	.Left(0);
	.Top(0);
	.Rigth(0);
	z-index: 9998;
}
.section-scroll{
	.MarginTop(-148);
	.PaddingTop(148);
	height: ~"calc(100vh - 30px)";
	overflow: hidden;
}
/*------------------------------
SCROLL UP
--------------------------------*/
.btn-up{
	background: @Red;
	bottom: 0;
	cursor: pointer;
	direction: ltr;
	.Height(@WHslickSmartphone);
	opacity: 1;
	position: fixed;
	right: 0px;
	.Width(@WHslickSmartphone);
	z-index: 99999;
	.transformX(@x:@TransformSmartphone);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover{
		opacity: .65;
	}
	&:before{
		color: @White;
		content: '\E627';
		.fontSize(20);
		display: block;
		.lineHeight(@WHslickSmartphone);
		.Mify();
		text-align: center;
	}
	span{
		direction: ltr;
		display: block;
		text-indent: -999em;
	}
}
.btn-up.btn-up-on{
	.transformX(@x:0);
}
/*------------------------------
HEADER
--------------------------------*/
.site-main-header{
	background-color: @White;
	.Padding(20);
	padding-bottom: 0;
	padding-top: 0;
	position: fixed;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	.Top(50);
	width: 100%;
	z-index: 999999;
}
.site-main-header.fade{
	background-color: @Overlay2;
}
.site-logo{
	background: @logo-grey;
	.background100();
	display: block;
	text-indent: -999em;
	.Height(90);
	.Width(200);
	.relative();
	z-index: 4;
}
/*------------------------------
MENU BURGER
--------------------------------*/
.toggle-menu{
	background: none;
	border: none;
	.border-radius(@rad:0);
	.Height(10);
	padding: 0;
	.fixed();
	margin: 0;
	.Right(30);
	top: 50%;
	.Width(25);
	z-index: 100;
	&:hover{
		background: none;
	}
	span{
		direction: ltr;
		text-indent: -999em;
		display: block;
		background: @Black;
		height: 1px;
		margin: 3px auto;
		width: 100%;
	}
	&:before,
	&:after,{
		background-color: @Black;
		content: "";
		display: block;
		.Height(1);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		.Width(25);
	}
	span,
	&:before,
	&:after,{
		background-color: @Black;
	}
}
.toggle-menu.toggled-on{
	span{
		background-color: transparent;
	}
	&:after {
		transform: translateY(0) rotate(45deg);
	}
	&:before {
		transform: translateY(8px) rotate(-45deg);
	}
}
/*------------------------------
NAVIGATION FOOTER
--------------------------------*/
.footer-site{
	text-align: center;
	li{
		display: inline-block;
		.Padding(10);
		text-align: center;
		a{
			.montserrat();
			display: block;
			.fontSize(13);
			text-decoration: none;
			&:hover,
			&:active,
			&:focus{
				color: @Black;
				opacity: inherit;
				text-decoration: inherit;
			}
		}
	}
}
/*------------------------------
SLIDER
--------------------------------*/
.slider{
	.item-slide{
		float: left;
		height: 100vh;
		overflow: hidden;
		article{
			.relative();
		}
		.content-text-slider{
			text-align: center;
		}
		figure{
			&:before{
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
		}
	}
}
.slider-container{
	.relative();
}
.slick-dots{
	.relative();
	.Height(40);
	text-align: center;
	li{
		display: inline-block;
		.Margin(10);
		&:hover,
		&:focus,
		&:active{
			button{
				background-color: @Or;
				opacity: 1;
			}
		}
		button{
			direction: ltr;
			text-indent: -999em;
			.Height(10);
			.Width(10);
			opacity: .5;
		}
	}
	li.slick-active{
		&:hover,
		&:focus,
		&:active{
			button{
				background-color: @Or;
				opacity: 1;
			}
		}
		button{
			opacity: 1;
		}
	}
}
/*------------------------------
RESPONSIVE
--------------------------------*/
@import url("import/576px.less");
@import url("import/768px.less");
@import url("import/992px.less");
@import url("import/1200px.less");
@import url("import/1400px.less");