// main: ../app.less
@media screen and (min-width : 1200px){
	.site-main-header{
		background-color: transparent;
	}
	.site-main{
		padding: 0;
	}
	button{
		width: 12%;
	}
	.home.page{
		.site-main{
			.Padding(0);
		}
	}
	.page{
		.site-main{
			.PaddingTop(90);
		}
	}
	.site-main-header{
		.Height(90);
		top: auto;
	}
	.site-logo{
		background: @logo;
		.background100();
	}
	/*------------------------------
	NAVIGATION
	--------------------------------*/
	.site-primary-navigation{
		height: inherit;
		li{
			.PaddingLeft(20);
			.PaddingRight(20);
			height: 100%;
			a{
				display: block;
			}
			.sub-menu{
				.sub-menu.sub-menu-musique{
					background-color: @Beige-D;
				}
				.sub-menu.sub-menu-jeune{
					background-color: @Beige;
				}
			}
		}
		li.niv1{
			a{
				&:first-child{
				.relative();
					&:after{
						content: '';
						.absolute();
						background-color: @Red;
						.Height(8);
						opacity: 0;
						.Top(0);
						.Left(0);
						.Rigth(0);
						.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
					}
				}
			}
			&:hover{
				> a{
					span{
						color: @Red;
					}
					&:after{
						opacity: 1;
					}
				}
			}
			.nav-artist{
				a{
					.static();
				}
			}
		}
		.sub-menu-title{
			.Height(227);
		}
		.sub-menu-title.jeune{
			background-color: @Beige;
		}
		li > a{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			text-transform: none;
			align-items: center;
			height: 100%;
			.Padding(0);
		}
	}
	.site-header-navigations{
		margin-left: 8.2%;
		.relative();
		top: auto;
		.Height(90);
		width: 100%;
		.site-main-header-menu{
			background-color: transparent;
			.relative();
			top: auto;
			left: auto;
			.transformX(@x:0);
			.container-menu-image{
				display: block;
			}
		}
		.site-navigation-widgets{
			background-color: transparent;
			height: auto;
			left: auto;
			.static();
			top: auto;
			margin-left: 2%;
			right: auto;
			width: auto;
			.site-medias-header-menu,
			.site-languages-header-menu{
				margin: 0;
			}
			.site-languages-header-menu{
				margin: 0 10%;
			}
		}
	}
	.site-social-navigation{
		li{
			a{
				i{
					&:before{
						.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
					}
				}
			}
			&:hover{
				a{
					i{
						&:before{
							color: @Red;
						}
					}
				}
			}
		}
	}
	.site-languages-navigation{
		li{
			a{
				span{
					.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
				}
			}
			&:hover{
				a{
					span{
						color: @Red;
					}
				}
			}
		}
	}
	.site-main-navigation{
		.site-primary-navigation{
			height: inherit;
			.relative();
		}
		.menu-navigation-principale-container{
			height: 100%;
		}
		li{
			.PaddingLeft(10);
			.PaddingRight(10);
			height: 100%;
			a{
				.fontSize(12);
				display: block;
				height: inherit;
			}
		}
		li > a{
				span{
				color: @White;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				text-align: center;
				text-transform: uppercase;
				height: 100%;
				}
		}
		li.artistes > a,
		li.propos > a{
			span{
				&:after{
					content:'\E65F';
					.Mify();
					.fontSize(12);
					.PaddingLeft(10);
				}
			}
		}
		.artistes{
			&:hover > .sub-menu-first{
				left: auto;
				opacity: 1;
			}
		}
		.propos{
			&:hover > .sub-menu-second{
				left: auto;
				opacity: 1;
			}
		}
		.sub-menu-first{
			background-color: @Beige;
			.absolute();
			.MarginTop(90);
			.Top(0);
			opacity: 0;
			overflow: hidden;
			.Left(-9999);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			ul{
				.PaddingTop(20);
			}
			li{
				padding: 0;
			}
			li > a{
				span{
					color: @Grey;
					text-align: left;
					text-transform: none;
				}
			}
			.sub-menu-jeune{
				.nav-artist{
					a{
						.static();
					}
					.menu-focus{
						background-color: @Beige-D;
					}

					&:hover{
						a{	background-color: @Beige-D;
						}
					}
				}
			}
			.sub-menu-musique{
				.nav-artist{
					.menu-focus{
						background-color: @Beige;
					}

					&:hover{
						a{	background-color: @Beige;
						}
					}
					&:last-child{
						.PaddingBottom(25);
					}
				}
			}
			.nav-artist{
				a{
					.fontSize(14);
					.Height(40);
					padding-left: 69%;
					span{
						text-align: left;
						.container-menu-image{
							.Height(227);
							img{
								height: auto;
							}
						}
					}
					div{
						width: 65%;
						overflow: hidden;
						.absolute();
						left: 0;
						top: 0;
						opacity: 0;
						.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
					}
				}
				.menu-focus{
					span .container-menu-image{
						opacity: 1;

					}
				}
				&:hover{
					.container-menu-image{
						opacity: 1;
					}
				}
			}
		}
		.sub-menu-title{
			width: 50%;
			a.title-nav{
				cursor: default;
				padding-left: 67%;
				.Height(40);
				.title-link-menu{
					.Muli-B();
					.fontSize(30);
					.lineHeight(22);
					.relative();
					text-align: left;
					&:after{
						content: '';
						left: -25px;
						bottom: -20px;
						display: block;
						.Height(8);
						.absolute();
						.Width(40);
					}
				}
				 &:hover{
					 cursor: default;
				 }
			}
		}
		.musique{
				background-color: @Beige-D;
				.relative();
				a.title-nav{
					.title-link-menu{
						color: @Beige;
						&:after{
							background-color: @Beige;
						}
					}
				}
			}
		.jeune{
			.relative();
			a.title-nav{
				.title-link-menu{
					color: @Beige-D;
					&:after{
						background-color: @Beige-D;
					}
				}
			}
		}
		.sub-menu-second{
			background-color: @Beige;
			.absolute();
			.MarginTop(90);
			.Top(0);
			opacity: 0;
			.Left(-9999);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			li{
				.Padding(0);
				border-bottom: 1px solid @White;
				&:last-child{
					border: none;
				}
				a{
					.fontSize(14);
					.Height(40);
					span{
						.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
						color: @Grey;
						text-align: left;
						text-transform: none;
						.Padding(20);
						.PaddingBottom(0);
						.PaddingTop(0);
					}
				}
				&:hover{
					a{
						span{
							color: @Red;
						}
					}
				}
			}

		}
	}
	.site-languages-navigation{
		div{
			ul{
				li{
					a{
						.fontSize(12);
					}
				}
			}
		}
	}
	/*------------------------------
	MAIN
	--------------------------------*/
	.home{
		main{
			.content-primary{
				.Height(@SlidePortable);
				overflow: hidden;
			}
		}
	}
	main{
		.slider{
			width: 100%;
			.Height(@SlidePortable);
			.slick-arrow{
				z-index: 99999;
				button{
					color: @White;
				}
			}
			.item-slide{
				.Height(@SlidePortable);
			}
		}
	}
	.container-article-artiste{
	background: @Beige;
	}
	.slick-arrow {
		top: 50%;
		.fontSize(20);
		.Mify();
		.Height(@WHslickDesktop);
		.Margin(0);
		.MarginTop(-25);
		.Padding(0);
		.Width(@WHslickDesktop);
		&:before,
		&:after{
			.Height(@WHslickDesktop);
			.Width(@WHslickDesktop);
		}
	}
	.btn-up{
		.Height(@WHslickDesktop);
		.Width(@WHslickDesktop);
		.transformX(@x:@TransformDesktop);
		&:before{
			.lineHeight(@WHslickDesktop);
		}
	}
	.featured-artiste{
		.Height(@SlidePortable);
		.container-header{
			.Height(@SlidePortable);
		}
	}
	.bounce-top {
	-webkit-animation: bounce-top 2s steps(2, end) infinite both;
	     animation: bounce-top 2s steps(2, end) infinite both;
	}
	@-webkit-keyframes bounce-top {
	  0% {
	    -webkit-transform: translateY(-45px);
	            transform: translateY(-45px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	    opacity: 1;
	  }
	  24% {
	    opacity: 1;
	  }
	  40% {
	    -webkit-transform: translateY(-24px);
	            transform: translateY(-24px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  65% {
	    -webkit-transform: translateY(-12px);
	            transform: translateY(-12px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  82% {
	    -webkit-transform: translateY(-6px);
	            transform: translateY(-6px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  93% {
	    -webkit-transform: translateY(-4px);
	            transform: translateY(-4px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  25%,
	  55%,
	  75%,
	  87% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	    -webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
	  }
	  100% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	    -webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
	    opacity: 1;
	  }
	}
	@keyframes bounce-top {
	  0% {
	    -webkit-transform: translateY(-45px);
	            transform: translateY(-45px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	    opacity: 1;
	  }
	  24% {
	    opacity: 1;
	  }
	  40% {
	    -webkit-transform: translateY(-24px);
	            transform: translateY(-24px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  65% {
	    -webkit-transform: translateY(-12px);
	            transform: translateY(-12px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  82% {
	    -webkit-transform: translateY(-6px);
	            transform: translateY(-6px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  93% {
	    -webkit-transform: translateY(-4px);
	            transform: translateY(-4px);
	    -webkit-animation-timing-function: ease-in;
	            animation-timing-function: ease-in;
	  }
	  25%,
	  55%,
	  75%,
	  87% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	    -webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
	  }
	  100% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	    -webkit-animation-timing-function: ease-out;
	            animation-timing-function: ease-out;
	    opacity: 1;
	  }
	}
	.btn-scroll{
		.Bottom(80);
		color: @White;
		display: block;
		.fontSize(20);
		.relative();
		z-index: 1001;
		width: 100%;
		&:before,
		i{
			color: inherit;
		}
	}
	/*------------------------------
	ARTISTES
	--------------------------------*/
	.col-left{
		background-color: @White;
		.relative();
		.MarginTop(-226);
		.PaddingRight(30);
		z-index: 2;
	}
	.col-right{
		background-color: @White;
		.PaddingLeft(0);
	}
	.container-fiche-artiste{
		h2{
			.Muli-SB();
			.fontSize(45);
			.relative();
			.BorderBottom();
		}
	}
	.list-item-discography{
		.MarginTop(40);
	}
	.mfp-inline-holder{
		.mfp-content{
			width: 60%;
		}
	}
	.home.page{
		.site-main-header{
			background-color: transparent;
		}
		.site-main-header.fade{
			background-color: @Overlay2;
		}
	}
	.archive,
	.page{
		.site-main-header{
			background-color: @Grey;
		}
		.site-main-header.fade{
			background-color: @Overlay2;
		}
	}
	.container-shows{
		.PaddingBottom(50);
		&:before{
			.Height(207);
		}
		&:after{
			.Height(207);
		}
		h2{
			.PaddingTop(157);
		}
	}
	.featured-artiste{
		.Height(@SlidePortable);
		.relative();
		overflow: hidden;
		.img-featured-artiste{
			height: 100%;
			overflow: inherit;
			.absolute();
			top: 0;
			left: 0;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
			&:before{
				content: '';
				display: block;
				background-color: @Overlay;
				height: 100%;
				.Left(0);
				.absolute();
				.Top(0);
				opacity: 1;
				width: 100%;
				z-index: 2;
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
			&:after{
				content: '';
				display: block;
				background: @Bg-Tone;
				height: 100%;
				.Left(0);
				.absolute();
				.Top(0);
				opacity: 1;
				width: 100%;
				z-index: 1;
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
		}
	.container-header{
		color: @White;
		.Height(@SlidePortable);
		.PaddingTop(90);
		.relative();
		z-index: 3;
		h2,
		h3{
			text-align: left;
		}
		h2{
			.MarginBottom(15);
		}
		p{
			width: 80%;
		}
	}
	a{
	text-decoration: none;
		&:hover{
			.img-featured-artiste{
				&:after,
				&:before{
						opacity: 0;
				}
			}
			button{
				background: @Grey-DL;
				border-color: @Grey-DL;
			}
		}
	}
}
	.container-article-artiste{
		background: @Beige;
	}
	.single-artistes{
		.container-header{
			.title-artiste{
				.Muli-B();
				.fontSize(100);
				.relative();
				.lineHeight(100);
				.MarginBottom(40);
				.BorderBottom();
			}
		}
	}
	.sub-title-artiste{
		.Jenkins();
		.fontSize(32);
		margin: 0;
	}
	.col-left{
		.PaddingTop(15);
	}
	.col-left,
	.col-right{
		.PaddingBottom(15);
	}
	.item-artiste-presse{
		float: left;
	}
	.slick-dots{
		li{
			display: inline-block;
			.Margin(5);
			.MarginTop(0);
			.MarginBottom(0);
			.Height(5);
			.Width(25);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			overflow: hidden;
			&:first-child{
				.MarginLeft(0);
			}
			&:last-child{
				.MarginRight(0);
			}
			button{
				background-color: @Grey-XXL;
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				direction: ltr;
				display: block;
				.Padding(0);
				text-indent: -999em;
				width: 100%;
				height: 100%;
			}
		}
		li.slick-active{
			button{
				background-color: @Beige;
			}
		}
	}
	.container-fiche-artiste{
		.PaddingBottom(15);
		h2{
			.Muli-SB();
			.fontSize(45);
			.relative();
			.BorderBottom();
		}
	}
	.container.container-vid-img-shows{
		h2{
			color: @White;
			.BorderBottomWhite();
		}
	}
	.list-item-discography{
		li{
			a.item-discography-link-popup{
				.Height(195);
			}
			.title-date-item-discography{
				span{
					display: block;
					width: 100%;
				}
				.title-item-discography{
					.Muli-B();
					text-transform: uppercase;
				}
				.date-item-discography{
					text-transform: capitalize;
					color: @Red;
				}
			}
			a.buy-item-discography{
				text-align: center;
				&:hover{
					button{
						border-color: @Grey-L;
						color: @White;
					}
				}
				button{
					border-color: @Grey;
					color: @Grey;
					.Padding(6);
					width: 100%;
				}
			}
		}
	}
	.container-list-discography{
		.MarginTop(30);
	}
	.container-popup-album{
		background-color: @White;
		.Padding(40);
		.PaddingBottom(24);
		.relative();
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	.mfp-close-btn-in{
		.mfp-close{
			background-color: @Beige;
			color: @Grey;
			.Muli-L();
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
	.mfp-bg{
		background: @Overlay;
	}
	.container-list-member-band{
		.MarginTop(30);
	}
	.list-member-band{
		border-bottom: 2px solid @Red;
		border-top: 2px solid @Red;
		.PaddingBottom(2);
		.PaddingTop(2);
		li{
			border-bottom: 1px dashed @Beige;
			border-top: 1px dashed @Beige;
			display: block;
			.Muli-L();
			.PaddingBottom(2);
			.PaddingTop(2);
			&:first-child{
				border-top: none;
			}
			&:last-child{
				border-bottom: none;
			}
			b{
				.Muli-SB();
			}
			span{
				color: @Beige;
				.fontSize(14);
			}
		}
	}
	.item-video-band{
		.MarginBottom(30);
	}
	.container-list-medias-band,
	.container-list-dwnl-band{
		.MarginTop(30);
		h3{
			text-transform: uppercase;
		}
	}
	.container-list-medias-band{
		h3{
			color: @Beige;
		}
		.list-item-medias-band{
			.MarginTop(10);
			li{
				.Height(40);
				.Width(40);
				display: inline-block;
				.MarginLeft(7.5);
				.MarginRight(7.5);
				&:first-child{
					.MarginLeft(0);
				}
				&:last-child{
					.MarginRight(0);
				}
				a{
					background-color: @Beige;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					color: @White;
					display: block;
					height: inherit;
					text-decoration: none;
					width: inherit;
					span{
						display: none;
					}
					i{
						display: block;
						height: inherit;
						width: inherit;
						&:before{
							display: block;
							text-align: center;
							.lineHeight(40);
							height: inherit;
							width: inherit;
						}
					}
				}
			}
		}
	}
	.container-list-dwnl-band{
		h3{
			color: @Grey-L;
		}
		.list-item-dwnl-band{
			.MarginTop(10);
			li{
				display: inline-block;
				.MarginLeft(7.5);
				.MarginRight(7.5);
				&:first-child{
					.MarginLeft(0);
				}
				&:last-child{
					.MarginRight(0);
				}
				a{
					color: @White;
					display: block;
					height: inherit;
					text-decoration: none;
					width: inherit;
					i{
						background-color: @Grey;
						.border-radius(@rad:100%);
						display: block;
						border: none;
						margin: 0 auto;
						padding: 0;
						display: block;
						.Height(40);
						.Width(40);
						&:before{
							.Height(40);
							.Width(40);
							display: block;
							text-align: center;
							.lineHeight(40);
							height: inherit;
							width: inherit;
						}
					}
				}
				span{
					color: @Grey;
					.fontSize(12);
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
	.container-list-item-video-band,
	.container-list-item-shows-band{
		.MarginTop(40);
		ul{
			.MarginTop(40);
			.next-show{
				p{
					background-color: @Beige-XL;
					display: inline-block;
					.Muli-L();
					.Padding(8);
					.Margin(0);
					.MarginLeft(5);
				}
				.date-show{
					.Margin(0);
				}
				span{
					display: inline-block;
					.MarginLeft(5);
					.MarginRight(5);
				}
				a{
					display: inline-block;
					.Height(25);
					.Width(25);
					text-decoration: none;
					&:hover{
						button{
							i{
								&:before{
									color: @White;
								}
							}
						}
					}
					&:nth-child(2n){
						.Margin(10);
						.MarginTop(0);
						.MarginBottom(0);
					}
					span{
						display: none;
					}
					button{
						display: block;
						border-color: @Grey-L;
						.Padding(0);
						height: inherit;
						width: inherit;
						i{
							display: block;
							height: inherit;
							width: inherit;
							&:before{
								display: block;
								.fontSize(16);
								color: @Grey-L;
								.lineHeight(25);
								width: inherit;
							}
						}
					}
				}
				&:nth-child(2n){
					p{
						background-color: transparent;
					}
				}
				.infos-event{
					width: 78%;
					b{
						.Muli-SB();
					}
				}
				.date-show,
				.links-event{
					width: 11%;
				}
				.date-show{
					.relative();
					&:after{
						content: '';
						display: block;
						background-color: @Grey;
						.Height(4);
						.absolute();
						.Left(0);
						.Bottom(0);
						.Width(20);
					}
				}
			}
		}
	}
	.old-show{
		.PaddingTop(5);
		.PaddingBottom(5);
		&:nth-child(2n){
			border-bottom: 1px solid @Beige-XL;
			border-top: 1px solid @Beige-XL;
		}
		.old-infos-show{
			.Muli-L();
			.Margin(0);
			b{
				.Muli-SB();
			}
			.sep-event{
				display: inline-block;
				.MarginLeft(5);
				.MarginRight(5);
			}
		}
	}
	.container-vid-img-shows{
		.PaddingBottom(60);
	}

	.show-article-item{
		.link-all-dates{
			button{
				text-align: center;
				.fontSize(16);
				&:after{
						.Rigth(15);
				}
			}
		}
	}
	.list-shows-links{
		li{
			a{
				button{
					span{
						.fontSize(16);
						.MarginRight(15);
					}
				}
			}
		}
	}
/*------------------------------
LECTEUR AUDIO
--------------------------------*/
.container-player{
	.relative();
	.MarginRight(-15);
	.MarginTop(-100);
	z-index: 2;
	.header-player{
		background-color: @Overlay;
		.Height(100);
		figure{
			float: left;
			height: inherit;
			.MarginRight(15);
		}
		p{
			color: @Beige-L;
			.PaddingTop(15);
			.fontSize(14);
			b{
				text-transform: uppercase;
				.Muli-B();
				.fontSize(16);
			}
		}
	}
	audio{
		width: 100%;
	}
	ul{
		background-color: @Grey-L;
		li{
			.Padding(10);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:nth-child(2n){
				background-color: @Grey-DL ;
			}
			a{
				display: block;
				text-decoration: none;
				.nb-piste-mp3, .time-mp3{
					color: @White;
					.Muli-L();
				}
				.nb-piste-mp3{
					.MarginRight(10);
				}
				.time-mp3{
					.MarginLeft(10);
				}
				.title-mp3{
					.Muli-B();
					text-transform: uppercase;
					.Padding(0);
				}
			}
		}
		li.current-song{
			background-color: @White;
			a{
				.nb-piste-mp3, .time-mp3{
					color: @Grey-L;
				}
			}
		}
	}
}
/*------------------------------
SLIDERS
--------------------------------*/
.slider{
	.relative();
	.Height(530);
}
.item-slide{
	height: inherit;
	.relative();
	overflow: hidden;
	float: left;
}
.slick-arrow {
	background: none;
	border: none;
	top: 50%;
	.fontSize(20);
	.Mify();
	.Height(50);
	.absolute();
	.Margin(0);
	.MarginTop(-25);
	.Padding(0);
	.Width(50);
	opacity: 1;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover{
		background: none;
		opacity: .5;
	}
	&:before,
	&:after{
		display: block;
		.Mify();
		.lineHeight(50);
		.Width(50);
	}
}
.slick-prev {
	.Left(20);
}
.slick-next {
	.Rigth(20);
}
/*------------------------------
ABOUT
--------------------------------*/
.container-about{
	background-color: @White;
	.Padding(50);
	.PaddingLeft(0);
	.PaddingRight(0);
	.relative();
}
/*------------------------------
ARTISTES
--------------------------------*/
/*------------------------------
LECTEUR AUDIO
--------------------------------*/
.container-player{
	.relative();
	.MarginRight(-15);
	.MarginTop(-100);
	z-index: 2;
	.header-player{
		background-color: @Overlay;
		.Height(100);
		figure{
			float: left;
			height: inherit;
			.MarginRight(15);
			img{
				height: 100%;
			}
		}
		p{
			color: @Beige-L;
			.PaddingTop(15);
			.fontSize(14);
			b{
				text-transform: uppercase;
				.Muli-B();
				.fontSize(16);
			}
		}
	}
	audio{
		width: 100%;
	}
	ul{
		background-color: @Grey-L;
		li{
			.Padding(10);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:nth-child(2n){
				background-color: @Grey-DL ;
			}
			a{
				display: block;
				text-decoration: none;
				.nb-piste-mp3, .time-mp3{
					color: @White;
					.Muli-L();
				}
				.nb-piste-mp3{
					.MarginRight(10);
				}
				.time-mp3{
					.MarginLeft(10);
				}
				.title-mp3{
					.Muli-B();
					text-transform: capitalize;
					.Padding(0);
				}
			}
		}
		li.current-song{
			background-color: @White;
			a{
				.nb-piste-mp3, .time-mp3{
					color: @Grey-L;
				}
			}
		}
	}
}
/*------------------------------
LIGHTBOX
--------------------------------*/
.wpmf_mfp-container .zmdi-chevron-right,
.wpmf_mfp-container .zmdi-chevron-left{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.wpmf_mfp-bg{
	z-index: 99999 !important;
}
.wpmf_mfp-content{
	.mfp-hide{
		display: block;
	}
}
/*------------------------------
PAGE CONTENU
--------------------------------*/
.container-article{
	header.container{
		.Padding(0);
	}
	h1{
		color: @White;
		.Muli-B();
		.BorderBottomWhite();
		.relative();
		.PaddingTop(100);
		.MarginBottom(32);
		.fontSize(60);
		&:before{
			.Bottom(-32);
		}
	}
	h2{
		.BorderBottom();
		.relative();
		.MarginBottom(40);
	}
	h3{
		.fontSize(36);
	}
	p.page-text-intro{
		.Muli-SB();
		.fontSize(18);
		.lineHeight(24);
	}
	ul{
		.PaddingLeft(16);
		li{
			&:before{
				content:"•";
				color: @Red;
				display: inline-block;
				.Width(16);
				.MarginRight(-16);
				.absolute();
				.Left(16);
			}
		}
	}
	ul.list-shows-links{
		padding: 0;
	}
	blockquote{
		.relative();
		p{
			.Muli-SB();
			.fontSize(24);
			.relative();
			.MarginBottom(40);
			&:after{
				background-color: @Beige;
				content: '';
				display: block;
				.absolute();
				.Height(4);
				.Width(25);
				.Bottom(-20);
			}
			.sign-exergue{
				color: @Red;
				text-transform: uppercase;
				.fontSize(16);
			}
		}

	}
}
.container-content-page-article{
	.PaddingTop(15);
	.PaddingBottom(15);
}
figure.wp-caption{
	.relative();
	figcaption.wp-caption-text{
		background-color: @Overlay;
		color: @White;
		.absolute();
		.Bottom(0);
		.Left(0);
		.Padding(8);
		.Rigth(0);
	}
}
.page-dwnld{
	.MarginBottom(15);
	a{
		color: @Grey-L;
		text-decoration: none;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			i{
				background-color: @Red;
				.border-radius(@rad:100%);
				display: inline-block;
				.Height(40);
				.Width(40);
				text-align: center;
				.MarginRight(10);
				&:before{
					color: @White;
					text-align: inherit;
					.lineHeight(40);
				}
			}
		&:hover{
			i{
				background-color: @Grey;
			}
		}
	}
}
/*------------------------------
GOOGLE-MAP + PAGE CONTACT
--------------------------------*/
.acf-map{
	.Height(596);
	width: 100%;
	img{
		max-width: inherit !important;
	}
}
.content-info-window{
	.relative();
	&:before{
		content: '';
		display: block;
		background: @logo-map;
		.background100();
		float: left;
		.Height(95);
		.MarginRight(15);
		.Width(95);
	}
}
.map-address{
	float: left;
	span{
		display: block;
		.fontSize(16);
	}
	.title-address{
		color:@Red;
		.Muli-L();
		text-transform: uppercase;
	}
	.address{
		.Muli-SB();
		.relative();
		&:after{
			content:'';
			display: block;
			background-color: @Beige-L;
			.Height(4);
			.absolute();
			.Bottom(-15);
			.Left(0);
			.Width(25);
		}
	}
}
.container-article{
	ul.list-member-asso,
	ul.list-adresse-asso{
		.Padding(0);
		li{
			list-style: none;
			.MarginBottom(20);
			.relative();
			&:after{
				content:'';
				display: block;
				background-color: @Beige-L;
				.Height(4);
				.absolute();
				.Bottom(-10);
				.Left(0);
				.Width(25);
			}
			&:before{
				display: none;
			}
			p{
				.relative();
				.Margin(0);
			}
			span{
				.Muli-L();
				display: inline-block;
			}
			.name-membre{
				.Muli-SB();

			}
			.email-membre{
				color: @Red;
			}
		}
		.title-address{
				color: @Red;
				text-transform: uppercase;
		}
		.info-asso{
			.Muli-SB();
			span{
				.Muli-L();
			}
			&:last-child{
				.MarginBottom(11);
			}
		}
		.item-address-asso-1{
			.lieu-address{
				.Muli-SB();
			}
		}

	}
}
/*------------------------------
INTRO
--------------------------------*/
.container-about{
	h2{
		.Muli-SB();
		.fontSize(45);
		.relative();
		.MarginBottom(40);
		.BorderBottom();
	}
	button{
		color: @Grey;
		border-color: @Grey;
		width: 15%;
		&:hover{
			color: @White;
			border-color: @Grey-L;
		}
	}
}
/*------------------------------
NEWS
--------------------------------*/
.container-news{
	.Bgnews();
	.PaddingTop(15);
	.PaddingBottom(30);
	h2{
		color:@Beige-D;
		.BorderTop();
		.relative();
		.MarginBottom(30);
	}
}
#cff{
	.cff-posts-wrap{
		.cff-item{
			margin: 0;
		}
		div{
			margin: 0;
			padding: 0;
			border: none;
			background: none;
		}
		div.cff-meta-wrap{
			.MarginTop(15);
		}
		.cff-view-comments-wrap{
			a{
				margin: 0;
			}
		}
		.cff-post-links{
			.MarginLeft(15);
			background-color: @Grey;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:hover{
				background-color: @Grey-L;
				a{
					text-decoration: none;
				}
			}
			.cff-share-container{
				a {
					display: block;
					.fontSize(14);
					.PaddingLeft(10);
					.PaddingRight(10);
					text-transform: uppercase;
					color: @White;
					&:hover{
						text-decoration: none;
						.cff-post-links{
							background-color: @Grey-L;
						}
					}
				}
			}
		}
	}
}

/*------------------------------
FOOTER
--------------------------------*/
	.site-footer{
	.Padding(0);
	.PaddingTop(15);
	background: @Bg-footer;
	.background100();
		h3,
		.fab{
			color: @Grey-XXL;
		}

		.footer-navigation{
			width: 100%;
			.copyright-navigation{
				color: @Grey-XXL;
				.fontSize(14);
				margin: 0;
				li{
					.PaddingRight(10);
					&:last-child{
						padding: 0;
					}
					a{
						color: inherit;
					}
				}
			}
			.site-navigation-widgets{
				margin: 0;
			}
		}
		.footer-partenaires{
			width: 100%;
			background: @Overlay;
			.MarginTop(15);
			.PaddingTop(15);
			.PaddingBottom(30);
			a{
				img{
					opacity: .5;
				}
			}
			img{
				opacity: .5;
			}
		}
		.item-link-partenaire{
			.MarginBottom(10);
			a{
				display: block;
			}
		}
		h3{
			.fontSize(14);
			text-align: center;
		}
		.list-item-partenaire-sticky{
			border-right: 1px solid @Grey-XXL;
		}
	}
}