// main: ../app.less
@media screen and (min-width : 1400px){
	.home{
		main{
			.content-primary{
				.Height(@SlideDesktop);
			}
		}
	}
	main{
		.slider{
			.Height(@SlideDesktop);
			.item-slide{
				.Height(@SlideDesktop);
			}
		}
	}
	.featured-artiste{
			.Height(@SlideDesktop);
		.container-header{
			.Height(@SlideDesktop);
		}
	}
	.site-header-navigations{
		margin-left: 19.8%;
		width: 100%;
	}
	.site-navigation-widgets{
		margin-left: 5%;
	}
	.site-languages-header-menu{
		margin-left: 15%;
	}
	.site-main-navigation{
		li{
			.PaddingLeft(20);
			.PaddingRight(20);
			a{
				.fontSize(16);
				display: block;
				height: inherit;
			}
		}
		li > a{
				span{
				color: @White;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				align-items: center;
				text-align: center;
				text-transform: uppercase;
				height: 100%;
				}
		}
		.sub-menu-first{
			.nav-artist{
				a{
					.fontSize(16);
					span{
						.container-menu-image{
							.Height(227);
							img{
								height: auto;
							}
						}
					}
				}


			}
		}
		.sub-menu-second{
			li{
				a{
					.fontSize(16);
				}
			}
		}
	}
	.site-languages-navigation{
		div{
			ul{
				li{
					a{
						.fontSize(16);
					}
				}
			}
		}
	}
	.col-left{
		margin-top: -258px;
	}
	.mfp-inline-holder{
		.mfp-content{
			width: 60%;
		}
	}
	.container-shows{
		&:before{
			.Height(308);
		}
		&:after{
			.Height(308);
		}
		h2{
			.PaddingTop(258);
		}
	}
}