// main: ../app.less
/*------------------------------
NAVIGATIONS
--------------------------------*/
.single-artistes{
	.page-none{
		display: none;
	}
}
nav{
	height: 100%;
	a{
		text-decoration: none;
	}
}
.site-main-header-menu,
.site-header-navigations,
.site-navigation-widgets,
.site-medias-header-menu,
.menu-navigation-principale-fr-container,
.menu-navigation-principale-en-container,
.menu-navigation-reseaux-sociaux-fr-container,
.menu-navigation-reseaux-sociaux-en-container,
.menu-navigation-langues-fr-container,
.menu-navigation-langues-en-container{
	height: inherit;
}
.site-primary-navigation{
	height: inherit;
	.ti-arrow-circle-down{
		&:before{
			display: inline-block;
			.PaddingLeft(5);
			.PaddingRight(5);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}

	}
	.ti-arrow-circle-down.rotate{
		&:before{
			.transformR(@r:180deg);
		}
	}
	.musique.submenu-on,
	.jeune.submenu-on{
		.ti-arrow-circle-down{
			&:before{
				.transformR(@r:180deg);
			}
		}
	}
	li{
		.PaddingLeft(0);
		.PaddingRight(0);
		height: 100%;
		a{
			display: block;
			color: @White;
		}
		.sub-menu-niv1{
			background-color: @Beige-D;
			li{
				.PaddingLeft(0);
				.PaddingRight(0);
				a{
					color: @Grey;
				}
			}
			.sub-menu-niv2{
				background-color: @Grey;
				li{
					a{
						color: @White;
					}
				}
			}
		}
	}
	li > a{
		align-items: center;
		text-transform: uppercase;
		height: 100%;
		.Padding(10);
		.PaddingLeft(20);
		.PaddingRight(20);
	}
}
.site-header-navigations{
	.absolute();
	height: auto;
	.Top(-50);
	width: 100%;
	.site-main-header-menu{
		background-color: @Beige;
		.Left(-20);
		.absolute();
		.Top(140);
		width: 100%;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		.transformX(@x:100%);
		.container-menu-image{
			display: none;
		}
	}
	.site-main-header-menu.nav-visible{
		.transformX(@x:0);
	}
	.site-navigation-widgets{
		background-color: @Beige;
		.Left(-20);
		.absolute();
		.Top(0);
		.Rigth(0);
		.Height(50);
		width: 100%;
		.site-medias-header-menu,
		.site-languages-header-menu{
			margin-right: 3%;
		}
		.site-languages-header-menu{
			margin-left: 3%;
		}
	}
}
/*------------------------------
NAVIGATION MOBILE
--------------------------------*/
.menu-toggle-mobile{
	.Height(40);
	.MarginRight(2%);
	padding: 0;
	.relative();
	margin: 0;
	.Width(40);
	z-index: 100;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	.label-menu{
		color: @Beige;
		display: block;
		.fontSize(12);
		text-transform: uppercase;
	}
	.button-toggle-mobile{
		color: @Beige;
		border: none;
		display: block;
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		.Top(0);
		width: 100%;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		&:hover{
			background-color: transparent;
		}
		&:after,
	    &:before{
	    	background: @Grey;
	    	content: "";
	    	display: block;
	    	.Height(2);
	    	margin: 0 auto;
	    	.Width(20);
	    }
		span {
	    	direction: ltr;
	    	text-indent: -999em;
	    	display: block;
	    	background: @Grey;
	    	.Height(2);
	    	margin: 2px auto;
	    	.Width(20);
		}
		&:after,
	    &:before,
	    span{
	    	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	    }
	}
}
.menu-toggle-mobile.toggled-on{
	.button-toggle-mobile{
	    span{
	        .Width(15);
	        .transformX(@x:-3px);
	    }
	    &:after,
	    &:before{
		    .Width(10);
	    }
		&:before{
	        transform: translateY(8px) rotate(-45deg);
	    }
	    &:after{
	        transform: translateY(-8px) rotate(45deg);
	    }
    }
}
.site-primary-navigation{
	li.menu-item.artistes,
	li.menu-item.propos{
		.sub-menu-niv1{
			display: none;
			.transformY(@y:-200px);
			opacity: 0;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
	}
	li.menu-item.artistes,
	li.menu-item.propos{
		.sub-menu-niv1.submenu-on{
			display: block;
			.transformY(@y:0);
			opacity: 1;
		}
	}
	li.sub-menu-title.musique,
	li.sub-menu-title.jeune{
		.sub-menu-niv2{
			display: none;
			.transformY(@y:-200px);
			opacity: 0;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
	}
	li.sub-menu-title.musique.submenu-on,
	li.sub-menu-title.jeune.submenu-on{
		.sub-menu-niv2{
			display: block;
			.transformY(@y:0);
			opacity: 1;
		}
	}
}


/*------------------------------
RÉSEAUX SOCIAUX
--------------------------------*/
.site-social-navigation{
	div{
		height: inherit;
		ul{
			height: inherit;
			li{
				.Padding(10);
				.PaddingTop(0);
				.PaddingBottom(0);
				a{
					.relative();
				}
				&:first-child{
					.PaddingLeft(0);
				}
				&:last-child{
					.PaddingRight(0);
				}
			}
		}
	}
}
.fab{
	color: @White;
}
.social-link-menu{
	direction: ltr;
	display: block;
	text-indent: -999em;
	.absolute();
	.Top(0);
}
/*------------------------------
LANGUES
--------------------------------*/
.site-languages-navigation{
	div{
		ul{
			height: inherit;
			li{
				border: 1px solid @White;
				&:first-child{
				-webkit-border-radius: @BorderRadiusLangues-L;
				-moz-border-radius: @BorderRadiusLangues-L;
				border-radius: @BorderRadiusLangues-L;
				}
				&:last-child{
				-webkit-border-radius: @BorderRadiusLangues-R;
				-moz-border-radius: @BorderRadiusLangues-R;
				border-radius: @BorderRadiusLangues-R;
				.MarginLeft(-1);
				}
				a{
					display: block;
					.lineHeight(25);
					.Padding(5);
					.PaddingBottom(0);
					.PaddingTop(0);
					span{
						display: block;
						color: @White;
					}
				}
			}
		}
	}
}
/*------------------------------
SECTION-PRIMARY
--------------------------------*/
.content-primary.container,
.container-content-page-article{
	background: @White;
	.relative();
}
/*------------------------------
HOME
--------------------------------*/
/*------------------------------
SLIDERS
--------------------------------*/
.slider{
	.relative();
	.Height(530);
}
.item-slide{
	height: inherit;
	.relative();
	overflow: hidden;
	float: left;
}
.slick-arrow {
	background: none;
	border: none;
	.Bottom(0);
	.fontSize(20);
	.Mify();
	.Height(50);
	.absolute();
	.Margin(0);
	.MarginTop(-25);
	.Padding(0);
	.Width(50);
	opacity: 1;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	z-index: 9999;
	&:hover{
		background: none;
		opacity: .5;
	}
	&:before,
	&:after{
		display: block;
		.Mify();
		.lineHeight(50);
		.Width(50);
	}
}
.slick-prev {
	left: 50%;
	.MarginLeft(-50);
	&:before{
		content: '\e64a';
	}
}
.slick-next {
	right: 50%;
	.MarginRight(-50);
	&:before{
		content: '\e649';
	}
}
/*------------------------------
ABOUT
--------------------------------*/
.container-about{
	background-color: @White;
	.Padding(50);
	.PaddingLeft(0);
	.PaddingRight(0);
	.relative();
}
/*------------------------------
ARTISTES
--------------------------------*/
.container-article-artiste{
	background: @Beige;
}
.featured-artiste{
	height: auto;
	.relative();
	overflow: hidden;
	.img-featured-artiste{
		height: 100%;
		overflow: inherit;
		.absolute();
		top: 0;
		left: 0;
		width: 100%;
		img{
			width: 100%;
			height: auto;
		}
		&:before{
			content: '';
			display: block;
			background-color: @Overlay;
			height: 100%;
			.Left(0);
			.absolute();
			.Top(0);
			opacity: 0;
			width: 100%;
			z-index: 2;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
		&:after{
			content: '';
			display: block;
			background: @Bg-Tone;
			height: 100%;
			.Left(0);
			.absolute();
			.Top(0);
			opacity: 0;
			width: 100%;
			z-index: 1;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
	}
	.container-header{
		background-color: @Grey;
		color: @White;
		.Height(350);
		.MarginTop(180);
		.PaddingTop(20);
		.relative();
		z-index: 3;
		h2,
		h3{
			text-align: left;
		}
		p{
			width: 100%;
		}
	}
	a{
	text-decoration: none;
		&:hover{
			.img-featured-artiste{
				&:before{
						opacity: 0;
				}
			}
			button{
				background: @Grey-DL;
				border-color: @Grey-DL;
			}
		}
	}
}
.title-artiste{
	.Muli-B();
	.fontSize(40);
	.relative();
	.lineHeight(40);
	.MarginBottom(40);
	.BorderBottom();
	.BorderBottomSmart();
}
.sub-title-artiste{
	.Jenkins();
	.fontSize(24);
}
.col-left{
	.PaddingTop(15);
}
.col-left,
.col-right{
	background-color: @White;
	.PaddingBottom(15);
}
.item-artiste-presse{
	float: left;
}
.slick-dots{
	li{
		display: inline-block;
		.Margin(5);
		.MarginTop(0);
		.MarginBottom(0);
		.Height(5);
		.Width(25);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		overflow: hidden;
		&:first-child{
			.MarginLeft(0);
		}
		&:last-child{
			.MarginRight(0);
		}
		button{
			background-color: @Grey-XXL;
			border: none;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			direction: ltr;
			display: block;
			.Padding(0);
			text-indent: -999em;
			width: 100%;
			height: 100%;
		}
	}
	li.slick-active{
		button{
			background-color: @Beige;
		}
	}
}
.container-fiche-artiste{
	.PaddingBottom(15);
	h2{
		.Muli-SB();
		.fontSize(45);
		.relative();
		.BorderBottom();
	}
}
.container.container-vid-img-shows{
	h2{
		color: @White;
		.BorderBottomWhite();
	}
}
.list-item-discography{
	.MarginTop(25);
	li{
		float: left;
		.MarginTop(15);
		a.item-discography-link-popup{
			display: block;
			.relative();
			text-align: center;
			text-decoration: 0;
			.Height(187);
			.MarginBottom(15);
			&:after{
				background-color:@Beige ;
				.Bottom(0);
				content: '\E659';
				display: block;
				.Mify();
				.lineHeight(35);
				.absolute();
				.Rigth(0);
				.Width(35);
			}
		}
		.title-date-item-discography{
			span{
				display: block;
				width: 100%;
			}
			.title-item-discography{
				.Muli-B();
				text-transform: uppercase;
			}
			.date-item-discography{
				text-transform: capitalize;
				color: @Red;
			}
		}
		a.buy-item-discography{
			text-align: center;
			&:hover{
				button{
					border-color: @Grey-L;
					color: @White;
				}
			}
			button{
				border-color: @Grey;
				color: @Grey;
				.Padding(6);
				width: 100%;
			}
		}
	}
}
.container-list-discography{
	.MarginTop(30);
}
.container-popup-album{
	background-color: @White;
	.Padding(40);
	.PaddingBottom(24);
	.relative();
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.mfp-close-btn-in{
	.mfp-close{
		background-color: @Beige;
		color: @Grey;
		.Muli-L();
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
.mfp-bg{
	background: @Overlay;
}
.container-list-member-band{
	.MarginTop(30);
}
.list-member-band{
	border-bottom: 2px solid @Red;
	border-top: 2px solid @Red;
	.PaddingBottom(2);
	.PaddingTop(2);
	li{
		border-bottom: 1px dashed @Beige;
		border-top: 1px dashed @Beige;
		display: block;
		.Muli-L();
		.PaddingBottom(2);
		.PaddingTop(2);
		&:first-child{
			border-top: none;
		}
		&:last-child{
			border-bottom: none;
		}
		b{
			.Muli-SB();
		}
		span{
			color: @Beige;
			.fontSize(14);
		}
	}
}
.item-video-band{
	.MarginBottom(30);
}
.container-list-medias-band,
.container-list-dwnl-band{
	.MarginTop(30);
	h3{
		text-transform: uppercase;
	}
}
.container-list-medias-band{
	h3{
		color: @Beige;
	}
	.list-item-medias-band{
		.MarginTop(10);
		li{
			.Height(40);
			.Width(40);
			display: inline-block;
			.MarginLeft(7.5);
			.MarginRight(7.5);
			&:first-child{
				.MarginLeft(0);
			}
			&:last-child{
				.MarginRight(0);
			}
			a{
				background-color: @Beige;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				color: @White;
				display: block;
				height: inherit;
				text-decoration: none;
				width: inherit;
				span{
					display: none;
				}
				i{
					display: block;
					height: inherit;
					width: inherit;
					&:before{
						display: block;
						text-align: center;
						.lineHeight(40);
						height: inherit;
						width: inherit;
					}
				}
			}
		}
	}
}
.container-list-dwnl-band{
	h3{
		color: @Grey-L;
	}
.list-item-dwnl-band{
		.MarginTop(10);
		li{
			display: inline-block;
			.MarginLeft(7.5);
			.MarginRight(7.5);
			&:first-child{
				.MarginLeft(0);
			}
			&:last-child{
				.MarginRight(0);
			}
			a{
				color: @White;
				display: block;
				height: inherit;
				text-decoration: none;
				width: inherit;
				i{
					background-color: @Grey;
					.border-radius(@rad:100%);
					display: block;
					border: none;
					margin: 0 auto;
					padding: 0;
					display: block;
					.Height(40);
					.Width(40);
					&:before{
						.Height(40);
						.Width(40);
						display: block;
						text-align: center;
						.lineHeight(40);
						height: inherit;
						width: inherit;
					}
				}
			}
			span{
				color: @Grey;
				.fontSize(12);
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}
.container-list-item-video-band,
.container-list-item-shows-band{
	.MarginTop(40);
	ul{
		.MarginTop(40);
		.next-show{
			p{
				background-color: @Beige-XL;
				display: inline-block;
				.Muli-L();
				.Padding(8);
				.Margin(0);
				.MarginLeft(5);
			}
			.date-show{
				.Margin(0);
			}
			span{
				display: inline-block;
				.MarginLeft(5);
				.MarginRight(5);
			}
			a{
				display: inline-block;
				.Height(25);
				.Width(25);
				text-decoration: none;
				&:hover{
					button{
						i{
							&:before{
								color: @White;
							}
						}
					}
				}
				&:nth-child(2n){
					.Margin(10);
					.MarginTop(0);
					.MarginBottom(0);
				}
				span{
					display: none;
				}
				button{
					display: block;
					border-color: @Grey-L;
					.Padding(0);
					height: inherit;
					width: inherit;
					i{
						display: block;
						height: inherit;
						width: inherit;
						&:before{
							display: block;
							.fontSize(16);
							color: @Grey-L;
							.lineHeight(25);
							width: inherit;
						}
					}
				}
			}
			&:nth-child(2n){
				p{
					background-color: transparent;
				}
			}
			.infos-event{
				width: 100%;
				b{
					.Muli-SB();
				}
			}
			.date-show,
			.links-event{
				width: 100%;
			}
			.date-show{
				.relative();
				&:after{
					content: '';
					display: block;
					background-color: @Grey;
					.Height(4);
					.absolute();
					.Left(0);
					.Bottom(0);
					.Width(20);
				}
			}
		}
	}
}
.old-show{
	.PaddingTop(5);
	.PaddingBottom(5);
	&:nth-child(2n){
		border-bottom: 1px solid @Beige-XL;
		border-top: 1px solid @Beige-XL;
	}
	.old-infos-show{
		.Muli-L();
		.Margin(0);
		b{
			.Muli-SB();
		}
		.sep-event{
			display: inline-block;
			.MarginLeft(5);
			.MarginRight(5);
		}
	}
}
.container-vid-img-shows{
	.PaddingBottom(60);
}
.single-artistes{
	.container-header{
		.Height(135);
		padding-top: 0;
		.title-artiste{
			.MarginBottom(0);
		}
	}
}
/*------------------------------
LECTEUR AUDIO
--------------------------------*/
.container-player{
	.relative();
	z-index: 2;
	.header-player{
		background-color: @Overlay;
		.Height(100);
		figure{
			float: left;
			height: inherit;
			.MarginRight(15);
			img{
				height: 100%;
			}
		}
		p{
			color: @Beige-L;
			.PaddingTop(15);
			.fontSize(14);
			b{
				text-transform: uppercase;
				.Muli-B();
				.fontSize(16);
			}
		}
	}
	audio{
		width: 100%;
	}
	ul{
		background-color: @Grey-L;
		li{
			.Padding(10);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:nth-child(2n){
				background-color: @Grey-DL ;
			}
			a{
				display: block;
				text-decoration: none;
				.nb-piste-mp3, .time-mp3{
					color: @White;
					.Muli-L();
				}
				.nb-piste-mp3{
					.MarginRight(10);
				}
				.time-mp3{
					.MarginLeft(10);
				}
				.title-mp3{
					.Muli-B();
					text-transform: uppercase;
					.Padding(0);
				}
			}
		}
		li.current-song{
			background-color: @White;
			a{
				.nb-piste-mp3, .time-mp3{
					color: @Grey-L;
				}
			}
		}
	}
}
/*------------------------------
LIGHTBOX
--------------------------------*/
.wpmf_mfp-container .zmdi-chevron-right,
.wpmf_mfp-container .zmdi-chevron-left{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.wpmf_mfp-bg{
	z-index: 99999 !important;
}
.wpmf_mfp-content{
	.mfp-hide{
		display: block;
	}
}

/*------------------------------
PAGE CONTENU
--------------------------------*/
.page-template-page-contenu{
	.container-article{
		h1{
			.MarginBottom(15);
		}
		h2{
			.fontSize(20);
		}
	}
}
.container-article{
	header.container{
		.PaddingTop(0);
	}
	h1{
		color: @White;
		.fontSize(34);
		.Muli-B();
		.BorderBottomWhite();
		.BorderBottomSmart();
		.relative();
		.PaddingTop(20);
		margin-bottom: 0;
	}
	h2{
		.BorderBottom();
		.BorderBottomSmart();
		.relative();
		.MarginBottom(40);
	}
	h3{
		.Jenkins();
		.fontSize(36);
	}
	p.page-text-intro{
		.Muli-SB();
		.fontSize(18);
		.lineHeight(24);
	}
	ul{
		.PaddingLeft(16);
		li{
			&:before{
				content:"•";
				color: @Red;
				display: inline-block;
				.Width(16);
				.MarginRight(-16);
				.absolute();
				.Left(16);
			}
		}
	}
	blockquote{
		.relative();
		p{
			.Muli-SB();
			.fontSize(24);
			.relative();
			.MarginBottom(40);
			&:after{
				background-color: @Beige;
				content: '';
				display: block;
				.absolute();
				.Height(4);
				.Width(25);
				.Bottom(-20);
			}
			.sign-exergue{
				color: @Red;
				text-transform: uppercase;
				.fontSize(16);
			}
		}

	}
}
.container-content-page-article{
	.PaddingTop(15);
	.PaddingBottom(15);
}
figure.wp-caption{
	.relative();
	figcaption.wp-caption-text{
		background-color: @Overlay;
		color: @White;
		.absolute();
		.Bottom(0);
		.Left(0);
		.Padding(8);
		.Rigth(0);
	}
}
.page-dwnld{
	.MarginBottom(15);
	a{
		color: @Grey-L;
		text-decoration: none;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			i{
				background-color: @Red;
				.border-radius(@rad:100%);
				display: inline-block;
				.Height(40);
				.Width(40);
				text-align: center;
				.MarginRight(10);
				&:before{
					color: @White;
					text-align: inherit;
					.lineHeight(40);
				}
			}
		&:hover{
			i{
				background-color: @Grey;
			}
		}
	}
}
/*------------------------------
GOOGLE-MAP + PAGE CONTACT
--------------------------------*/
.acf-map{
	.Height(400);
	width: 100%;
	img{
		max-width: inherit !important;
	}
}
.infos-contact{
	.Padding(0);
	.MarginTop(15);
}
.content-info-window{
	.Width(300);
	.relative();
	&:before{
		content: '';
		display: block;
		background: @logo-map;
		.background100();
		.Height(95);
		margin: 0 auto;
		.Width(95);
	}
}
.map-address{
	float: left;
	text-align: center;
	span{
		display: block;
		.fontSize(16);
	}
	.title-address{
		color:@Red;
		.Muli-L();
		text-transform: uppercase;
	}
	.address{
		.Muli-SB();
		.relative();
		&:after{
			content:'';
			display: block;
			background-color: @Beige-L;
			.Height(4);
			.absolute();
			.Bottom(-15);
			left: 50%;
			.MarginLeft(-12);
			.Width(25);
		}
	}
}
.container-article{
	ul.list-member-asso,
	ul.list-adresse-asso{
		.Padding(0);
		li{
			list-style: none;
			.MarginBottom(20);
			.relative();
			&:after{
				content:'';
				display: block;
				background-color: @Beige-L;
				.Height(4);
				.absolute();
				.Bottom(-10);
				.Left(0);
				.Width(25);
			}
			&:before{
				display: none;
			}
			p{
				.relative();
				.Margin(0);
			}
			span{
				.Muli-L();
				display: inline-block;
			}
			.name-membre{
				.Muli-SB();

			}
			.email-membre{
				color: @Red;
			}
		}
		.title-address{
				color: @Red;
				text-transform: uppercase;
		}
		.info-asso{
			.Muli-SB();
			span{
				.Muli-L();
			}
			&:last-child{
				.MarginBottom(11);
			}
		}
		.item-address-asso-1{
			.lieu-address{
				.Muli-SB();
			}
		}

	}
}
/*------------------------------
INTRO
--------------------------------*/
.container-about{
	h2{
		.Muli-SB();
		.fontSize(45);
		.relative();
		.MarginBottom(40);
		.BorderBottom();
	}
	button{
		color: @Grey;
		border-color: @Grey;
		width: 50%;
		&:hover{
			color: @White;
			border-color: @Grey-L;
		}
	}
}
/*------------------------------
NEWS
--------------------------------*/
.container-news{
	.Bgnews();
	.PaddingTop(15);
	.PaddingBottom(30);
	h2{
		color:@Beige-D;
		.BorderTop();
		.relative();
		.MarginBottom(30);
	}
}
#cff{
	.cff-posts-wrap{
		.cff-item{
			.Padding(0);
			.PaddingLeft(15);
			.PaddingRight(15);
			.MarginBottom(15);
		}
		&:last-child{
			.MarginBottom(0);
		}
		div{
			margin: 0;
			padding: 0;
			border: none;
			background: none;
		}
		div.cff-meta-wrap{
			.MarginTop(15);
		}
		.cff-view-comments-wrap{
			a{
				background: none;
				margin: 0;
				padding: 0;
			}
		}
		.cff-post-links{
			.MarginLeft(12);
			background-color: @Grey;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			&:hover{
				background-color: @Grey-L;
				a{
					text-decoration: none;
				}
			}
			.cff-share-container{
				a {
					display: block;
					.fontSize(14);
					.PaddingLeft(10);
					.PaddingRight(10);
					text-transform: uppercase;
					color: @White;
					&:hover{
						text-decoration: none;
						.cff-post-links{
							background-color: @Grey-L;
						}
					}
				}
			}
		}
	}
}
/*------------------------------
NEXT SHOWS
--------------------------------*/
.container-shows{
	background: @shows-smartphone;
	.background100();
	.PaddingBottom(50);
	.relative();
	&:before{
		content: '';
		display: block;
		background-color: @Overlay1;
		.Height(126);
		.Left(0);
		.Top(0);
		.absolute();
		z-index: 2;
		width: 100%;
	}
	&:after{
		content: '';
		display: block;
		background: @Bg-Tone;
		.Height(127);
		.Left(0);
		.Top(0);
		.absolute();
		z-index: 1;
		width: 100%;
	}
	h2{
		.fontSize(25);
		color: @White;
		.PaddingTop(62);
		.BorderBottom();
		.BorderBottomSmart();
		.relative();
		z-index: 3;
	}
}
.section-container-shows{
	.MarginTop(50);
}
.container.section-container-shows{
	background-color: @White;
	.Padding(0);
	.PaddingBottom(15);
	.PaddingRight(15);
	.PaddingTop(15);
	.MarginTop(15);
	height: auto;
	overflow-y: auto;
	li{
		&:before{
			display: none;
		}
	}
}
.list-items-shows{
	list-style: none;
	li.show-item{
		list-style: none;
		border-bottom: 1px solid @Grey-XL;
		float: left;
		.MarginBottom(15);
		.MarginLeft(0);
		.MarginRight(0);
		.PaddingBottom(15);
		width: 100%;
		&:first-child{
			.MarginTop(0);
		}
		&:last-child{
			.MarginBottom(0);
			border-bottom: none;
		}
	}
}
.show-article-item{
	.featured-article-show{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.date{
		.PaddingLeft(5);
		.MarginTop(15);
		span{
			clear: both;
			display: inline;
			text-transform: uppercase;
		}
		.date-day{
			.relative();
			&:after{
				background-color: @Red;
				.Bottom(-6);
				.Left(-5);
				content: '';
				display: block;
				.Height(4);
				.absolute();
				.Width(25);
			}
		}
		.number-day{
			.Muli-B();
			.fontSize(25);
			.MarginTop(10);
			.MarginLeft(10);
		}
	}
	.col-infos-show{
		color: @Grey-DL;
		h3{
			.Muli-R();
			.fontSize(28);
			text-transform: uppercase;
		}
		p{
			float: left;
			.MarginBottom(0);
			text-transform: uppercase;
		}
		p + p{
			text-transform: none;
		}
	}
	.link-all-dates{
		display: block;
		float: left;
		.MarginTop(15);
		width: 90%;
		button{
			background-color: @Grey-DL;
			width: 100%;
			.relative();
			.fontSize(14);
			text-align: left;
			&:after{
				content: '\E68D';
				.Mify();
				.absolute();
				.Rigth(10);
			}
		}
	}
}
.list-shows-links{
	li{
		float: left;
		.Margin(15);
		&:first-child{
			margin-left: 0;
			margin-right: 0;
		}
		&:last-child{
			margin-left: 0;
			margin-right: 0;
		}
		a{
			display: block;
			text-decoration: none;
			button{
				border-color: @Grey-DL;
				color: @Grey-DL;
				text-align: center;
				.relative();
				width: 100%;
				&:after{
					.Mify();
				}
			}
			&:hover{
				button{
					color: @White;
				}
			}
		}
	}
	.Link-show-fb{
		a{
			button{
				&:after{
					content: '\E741';

				}
			}
		}
	}
	.Link-show-tickets{
		a{
			button{
				&:after{
					content: '\E60D';
				}
			}
		}
	}
	.Link-show-lien{
		a{
			button{
				&:after{
					content: '\E62D';
				}
			}
		}
	}
}
.view-all-shows{
	color: @Grey;
	display: block;
	text-align: center;
	float: left;
	width: 100%;
	button{
		color: @Grey;
		border-color: @Grey;
		width: 90%;
	}
	&:hover{
		color: @Grey;
		button{
			color: @White;
		}
	}
}
/*------------------------------
FOOTER
--------------------------------*/
.site-footer{
	.Padding(0);
	.PaddingTop(15);
	background: @Bg-footer;
	.backgroundcover();
	h3,
	.fab{
		color: @Grey-XXL;
	}

	.footer-navigation{
		width: 100%;
		.copyright-navigation{
			color: @Grey-XXL;
			.fontSize(14);
			margin: 0;
			padding: 0;
			li{
				.PaddingRight(10);
				&:last-child{
					padding: 0;
				}
				a{
					color: inherit;
				}
			}
		}
		.site-navigation-widgets{
			margin: 25px auto 0;
		}
	}
	.footer-partenaires{
		width: 100%;
		background: @Overlay;
		.MarginTop(15);
		.PaddingTop(15);
		.PaddingBottom(30);
		a{
			img{
				opacity: .5;
			}
		}
		img{
			opacity: .5;
		}
	}
	.item-link-partenaire{
		.MarginBottom(10);
		a{
			display: block;
		}
	}
	h3{
		.fontSize(14);
		text-align: center;
	}
	.list-item-partenaire-sticky{
		border: none;
		.Padding(0);
		margin: 0 auto;
	}
	.list-item-partenaire-n-sticky{
		.PaddingRight(0);
	}
}