// main: ../app.less
@media screen and (min-width : 768px){

	.container-slider,
	.slider,
	.featured-artiste{
	.Height(@SlideTabletteV);
		.container-header{
			background-color: transparent;
			.Padding(0);
			.MarginTop(0);
			.Height(@SlideTabletteV);
		}
	}
	button{
		width: 20%;
	}
	.container-shows{
		background: @shows;
		.background100();
		h2{
		.fontSize(32);
		.PaddingTop(78);
		}
		&:after,
		&:before{
			.Height(125);
		}
	}
	.col-left,
	.col-right{
		background-color: @White;
	}
	.col-right{
		padding-left: 0;
	}
	.col-left{
		.relative();
		.MarginTop(-120);
		.PaddingRight(30);
		z-index: 2;
	}
	.featured-artiste{
		.img-featured-artiste{
			&:after,
			&:before{
				opacity: 1;
			}
		}
		a{
			&:hover{
			.img-featured-artiste{

					&:after,
					&:before{
							opacity: 0;
					}
				}
			}
		}
	}
	.slick-arrow {
		bottom: 0;
		top:auto;
	}
	.slick-prev {
		left: auto;
		.Rigth(50);
		margin: 0;
	}
	.slick-next {
		.Rigth(0);
		margin: 0;
	}
	.container-about{
		button{
			width: 27%;
		}
	}
	.title-artiste{
		.fontSize(75);
	}
	.container-shows{
		.container{
			.Padding(0);
		}
	}
	.show-article-item {
		.date{
			margin: 0;
			.MarginBottom(7);
		}
		.link-all-dates{
			width: 100%;
		}
	}
	.sub-title-artiste{
		.MarginBottom(16);
	}
	.title-artiste{
		.BorderBottomTablette();
	}
	#cff{
		.cff-posts-wrap{
			.cff-item{
				margin: 0;
			}
		}
	}
	.view-all-shows{
		.MarginTop(30);
		width: 100%;
		button{
			width: 45%;
		}
	}
	.list-shows-links{
		li{
			float: none;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}
	.site-footer{
		.footer-navigation{
			.site-navigation-widgets{
				margin: 0;
			}
		}
	}
	.container-player{
		.relative();
		.MarginRight(-15);
		.MarginTop(-100);
		z-index: 2;
		.header-player{
			background-color: @Overlay;
			.Height(100);
			figure{
				float: left;
				height: inherit;
				.MarginRight(15);
				img{
					height: 100%;
				}
			}
			p{
				color: @Beige-L;
				.PaddingTop(15);
				.fontSize(14);
				b{
					text-transform: uppercase;
					.Muli-B();
					.fontSize(16);
				}
			}
		}
		audio{
			width: 100%;
		}
		ul{
			background-color: @Grey-L;
			li{
				.Padding(10);
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
				&:nth-child(2n){
					background-color: @Grey-DL ;
				}
				a{
					display: block;
					text-decoration: none;
					.nb-piste-mp3, .time-mp3{
						color: @White;
						.Muli-L();
					}
					.nb-piste-mp3{
						.MarginRight(10);
					}
					.time-mp3{
						.MarginLeft(10);
					}
					.title-mp3{
						.Muli-B();
						text-transform: capitalize;
						.Padding(0);
					}
				}
			}
			li.current-song{
				background-color: @White;
				a{
					.nb-piste-mp3, .time-mp3{
						color: @Grey-L;
					}
				}
			}
		}
	}
		.container-list-item-video-band,
	.container-list-item-shows-band{
		.MarginTop(40);
		ul{
			.MarginTop(40);
			.next-show{
				p{
					background-color: @Beige-XL;
					display: inline-block;
					.Muli-L();
					.Padding(8);
					.Margin(0);
					.MarginLeft(5);
				}
				.date-show{
					.Margin(0);
				}
				span{
					display: inline-block;
					.MarginLeft(5);
					.MarginRight(5);
				}
				a{
					display: inline-block;
					.Height(25);
					.Width(25);
					text-decoration: none;
					&:hover{
						button{
							i{
								&:before{
									color: @White;
								}
							}
						}
					}
					&:nth-child(2n){
						.Margin(10);
						.MarginTop(0);
						.MarginBottom(0);
					}
					span{
						display: none;
					}
					button{
						display: block;
						border-color: @Grey-L;
						.Padding(0);
						height: inherit;
						width: inherit;
						i{
							display: block;
							height: inherit;
							width: inherit;
							&:before{
								display: block;
								.fontSize(16);
								color: @Grey-L;
								.lineHeight(25);
								width: inherit;
							}
						}
					}
				}
				&:nth-child(2n){
					p{
						background-color: transparent;
					}
				}
				.infos-event{
					width: 65%;
					b{
						.Muli-SB();
					}
				}
				.date-show{
					width: 15%;
				}
				.links-event{
					width: 20%;
				}
				.date-show{
					.relative();
					&:after{
						content: '';
						display: block;
						background-color: @Grey;
						.Height(4);
						.absolute();
						.Left(0);
						.Bottom(0);
						.Width(20);
					}
				}
			}
		}
	}
	.old-show{
		.PaddingTop(5);
		.PaddingBottom(5);
		&:nth-child(2n){
			border-bottom: 1px solid @Beige-XL;
			border-top: 1px solid @Beige-XL;
		}
		.old-infos-show{
			.Muli-L();
			.Margin(0);
			b{
				.Muli-SB();
			}
			.sep-event{
				display: inline-block;
				.MarginLeft(5);
				.MarginRight(5);
			}
		}
	}
	.acf-map{
		.Height(596);
	}
	.content-info-window{
		width: auto;
		&:before{
			float: left;
			.MarginRight(15);
		}
	}
	.map-address{
		float: left;
		text-align: left;
		.address{
			&:after{
				margin: 0;
				.Left(0);
			}
		}
	}
}