// main: ../app.less
@media screen and (min-width : 992px){
	h1,
	h2,
	h3,
	h4{
		line-height: 1;
	}
	h1{
		.fontSize(60);
	}
	h2{
		.fontSize(35);
	}
	h3{
		.fontSize(20);
	}
	h4{
		.fontSize(16);
	}
	.container-slider,
	.slider,
	.featured-artiste{
	.Height(@SlideTabletteH);
		.container-header{
			.Height(@SlideTabletteH);
		}
	}
	/*------------------------------
	NEXT SHOWS
	--------------------------------*/
	.container-shows{
		background: @shows;
		.background100();
		.PaddingBottom(50);
		.relative();
		&:before{
			content: '';
			display: block;
			background-color: @Overlay1;
			.Height(165);
			.Left(0);
			.Top(0);
			.absolute();
			z-index: 2;
			width: 100%;
		}
		&:after{
			content: '';
			display: block;
			background: @Bg-Tone;
			.Height(165);
			.Left(0);
			.Top(0);
			.absolute();
			z-index: 1;
			width: 100%;
		}
		h2{
			.fontSize(35);
			.PaddingTop(115);
			.BorderBottomTablette();
		}
	}
	.section-container-shows{
		.MarginTop(50);
	}
	.container.section-container-shows{
		background-color: @White;
		.Padding(0);
		.PaddingBottom(15);
		.PaddingRight(15);
		.PaddingTop(15);
		.Height(597);
		overflow-y: scroll;
		margin-top: 0;
		li{
			&:before{
				display: none;
			}
		}
	}
	.list-items-shows{
		list-style: none;
		li.show-item{
			list-style: none;
			border-bottom: 1px solid @Grey-XL;
			float: left;
			.MarginBottom(15);
			.MarginLeft(0);
			.MarginRight(0);
			.PaddingBottom(15);
			width: 100%;
			&:first-child{
				.MarginTop(0);
			}
			&:last-child{
				.MarginBottom(0);
				border-bottom: none;
			}
		}
	}
	.show-article-item{
		.featured-article-show{
			width: 75%;
		}
		.date{
			.PaddingLeft(5);
			span{
				clear: both;
				display: block;
				text-transform: uppercase;
			}
			.date-day{
				.relative();
				&:after{
					.Bottom(-6);
					.Left(-5);
					.Height(4);
					.Width(25);
				}
			}
			.number-day{
				.fontSize(25);
				.MarginTop(10);
				.MarginLeft(0);
			}
		}
		.col-infos-show{
			h3{
				.fontSize(28);
			}
			p{
				.MarginBottom(0);
			}
			p + p{
				text-transform: none;
			}
		}
		.link-all-dates{
			button{
				width: 80%;
				&:after{
					.Rigth(10);
				}
			}
		}
	}
	.list-shows-links{
		li + li{
			.Margin(15);
			.MarginLeft(0);
			.MarginRight(0);
		}
		li{
			float: none;
			a{
				display: block;
				width: 100%;
				button{
					span{
						.fontSize(14);
						.MarginRight(10);
					}
				}
				&:hover{
					button{
						color: @White;
					}
				}
			}
			&:last-child{
				margin: 0;
			}
		}
	}
	.view-all-shows{
		color: @Grey;
		display: block;
		text-align: center;
		float: left;
		.MarginTop(40);
		width: 100%;
		button{
			color: @Grey;
			border-color: @Grey;
			width: 30%;
		}
		&:hover{
			color: @Grey;
			button{
				color: @White;
			}
		}
	}
	/*------------------------------
	ARTISTE
	--------------------------------*/
	.col-left{
		background-color: @White;
		.relative();
		.MarginTop(-172);
		.PaddingRight(30);
		z-index: 2;
	}
	.col-right{
		background-color: @White;
		.PaddingLeft(0);
	}
	.container-list-item-video-band,
	.container-list-item-shows-band{
		.MarginTop(40);
		ul{
			.MarginTop(40);
			.next-show{
				p{
					background-color: @Beige-XL;
					display: inline-block;
					.Muli-L();
					.Padding(8);
					.Margin(0);
					.MarginLeft(5);
				}
				.date-show{
					.Margin(0);
				}
				span{
					display: inline-block;
					.MarginLeft(5);
					.MarginRight(5);
				}
				a{
					display: inline-block;
					.Height(25);
					.Width(25);
					text-decoration: none;
					&:hover{
						button{
							i{
								&:before{
									color: @White;
								}
							}
						}
					}
					&:nth-child(2n){
						.Margin(10);
						.MarginTop(0);
						.MarginBottom(0);
					}
					span{
						display: none;
					}
					button{
						display: block;
						border-color: @Grey-L;
						.Padding(0);
						height: inherit;
						width: inherit;
						i{
							display: block;
							height: inherit;
							width: inherit;
							&:before{
								display: block;
								.fontSize(16);
								color: @Grey-L;
								.lineHeight(25);
								width: inherit;
							}
						}
					}
				}
				&:nth-child(2n){
					p{
						background-color: transparent;
					}
				}
				.infos-event{
					width: 75%;
					b{
						.Muli-SB();
					}
				}
				.date-show,
				.links-event{
					width: 15%;
				}
				.date-show{
					.relative();
					&:after{
						content: '';
						display: block;
						background-color: @Grey;
						.Height(4);
						.absolute();
						.Left(0);
						.Bottom(0);
						.Width(20);
					}
				}
			}
		}
	}
	.old-show{
		.PaddingTop(5);
		.PaddingBottom(5);
		&:nth-child(2n){
			border-bottom: 1px solid @Beige-XL;
			border-top: 1px solid @Beige-XL;
		}
		.old-infos-show{
			.Muli-L();
			.Margin(0);
			b{
				.Muli-SB();
			}
			.sep-event{
				display: inline-block;
				.MarginLeft(5);
				.MarginRight(5);
			}
		}
	}
}