// main: ../app.less
//IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto+Condensed:300,700');
// FONTAWESOME
@import url('fontawesome/fontawesome.less');
@import url('fontawesome/regular.less');
@import url('fontawesome/solid.less');
@import url('fontawesome/brands.less');
// THEMIFY
@font-face {
	font-family: 'themify';
	src:url('font/themify.eot?-fvbane');
	src:url('font/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('font/themify.woff?-fvbane') format('woff'),
		url('font/themify.ttf?-fvbane') format('truetype'),
		url('font/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="ti-"], [class*="ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@import url('mify.less');
//FONTS
@Light: 300;
@Bold: 700;
@FontAwesome: 'FontAwesome';
@Mify: 'themify';
@Roboto: 'Roboto Condensed', sans-serif;
@Montserrat: 'Montserrat', sans-serif;
@Normal: normal;
@Italic: italic;

//FONTAWESOME & MIFY
.FontAwesome(){
	font-family: @FontAwesome;
}
.Mify(){
	font-family: @Mify;
}
//ROBOTO
.roboto(){
    font-family: @Roboto;
    font-weight: @Light;
    font-style: @Normal;
}
.roboto-bld(){
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: @Bold;
    font-style: @Normal;
}
//MONTSERRAT
.montserrat(){
	font-family: @Montserrat;
	font-weight: @Light;
    font-style: @Normal;
}
.montserrat-i(){
	font-family: @Montserrat;
	font-weight: @Light;
    font-style: @Italic;
}
.montserrat-bld(){
	font-family: @Montserrat;
	font-weight: @Bold;
    font-style: @Normal;
}
.FontGeneric(){
	.roboto();
}
// FONTAWESOME
@import url('fontawesome/fontawesome.less');
@import url('fontawesome/regular.less');
@import url('fontawesome/solid.less');
@import url('fontawesome/brands.less');
// THEMIFY
@font-face {
	font-family: 'themify';
	src:url('font/themify.eot?-fvbane');
	src:url('font/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('font/themify.woff?-fvbane') format('woff'),
		url('font/themify.ttf?-fvbane') format('truetype'),
		url('font/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="ti-"], [class*="ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@import url('mify.less');
//SIZE FONT
@BaseSize: 16;
.fontSize(@size) {
	font-size: ~"@{size}px";
	@remSize: @size/@BaseSize;
	font-size: ~"@{remSize}rem";
}
